CONFIG_RISCV=y
CONFIG_SYS_MALLOC_F_LEN=0x2000
CONFIG_ENV_SIZE=0x2000
CONFIG_DEFAULT_DEVICE_TREE="microchip-mpfs-icicle-kit"
CONFIG_TARGET_MICROCHIP_ICICLE=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_SYS_PROMPT="RISC-V # "
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_BOOTP_SEND_HOSTNAME=y
CONFIG_DM_MTD=y
CONFIG_BOOTCOMMAND="setenv fileaddr 0x1030000000; setenv mmcbootpart 2; setenv scriptname boot.scr; load mmc 0:${mmcbootpart} ${scriptaddr} ${scriptname}; source ${scriptaddr}"
CONFIG_SYS_BOOT_RAMDISK_HIGH=y
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_MICROCHIP=y
CONFIG_CMD_I2C=y
CONFIG_SYS_I2C_SPEED=100000
CONFIG_SYS_LOAD_ADDR=0x100200000
CONFIG_MTDPARTS_DEFAULT="mtdparts=spi-nand0:8m(payload),128k(env),48m(fitimage)"
CONFIG_OF_LIBFDT_OVERLAY=y
